<section id="about" class="about">

    <div class="container">

        <div class="row no-gutters">

            <button class="btn btn-secondary" (click)="Nuevo()">Agregar</button>
            <h3>Desarollador / Estudiante</h3>
            <p>
                Estudiante de la Universidad de la Provincia de Buenos Aires.
            </p>
            <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Tecnologia</strong> Amante de la tecnologia, en constante aprendizaje.</p>
                    </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Trabajo en Equipo</strong> Me gusta mucho trabajar en equipo, como también
                            solitario.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-clock"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Muy Atento</strong> Me gusta escuchar todo el tiempo, y aprender de ello.</p>
                    </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="bi bi-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Actualmente trabajando en Proyectos</strong> Trabjando en Aplicaciones y
                            Hobbies propios, como</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="soloNi" *ngFor="let persona of person">
    <div>
        <picture>
            <img src="{{persona.img}}" alt="ImagenPerfil" accept="image/*">
        </picture>

    </div>
    <h1> {{persona.nombre}} </h1>
    <h1> {{persona.apellido}} </h1>
    <h1> {{persona.titulo}} </h1>
    <h1> {{persona.hobbie}} </h1>
    <button (click)="Delete(persona)" class="btn btn borrar" *ngIf="isAdmin">Eliminar</button>
    <button class="btn btn-primary" (click)="Editar(persona)" *ngIf="isAdmin">Editar</button>
</div>