<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/pictureprofile.png" alt="profilePicture" class="img-fluid" id="img-profile">
    </div>
    <div *ngFor="let p of person" class="col-xs-12  col-sm-2 col-md-2 col-lg-2">
        <p class="nameprofile">{{p.nombre}} {{p.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2">
        <span>
            <h1>About me:</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero voluptatibus porro ullam, voluptas fuga
                atque necessitatibus nulla accusamus rem sed voluptate dolor perspiciatis voluptates optio obcaecati!
                Velit, sunt illo!</p>
        </span>
    </div>
</div>