.row {
    padding: 20px;
}

div {
    background-color: #a1b5cb;
    text-align: center;
}

img {
    width: 15%;
    height: 25%;
    box-shadow: 6px 6px 6px grey;
    top: 110%;
}

@media(max-width: 768px) {
    img {
        position: absolute;
        border-radius: 100%;
        box-shadow: 6px 6px 6px grey;
        width: 17%;
        top: 60%;
    }
}

@media(max-width: 576px) {

    img {
        position: absolute;
        width: 15%;
        border: 100%;
        box-shadow: 6px 6px 6px grey;
        margin-left: 10px;
        top: 40%;
        left: 27%;
        width: 30%;

    }
}