<footer id="footer">
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h1 class="p-3 mb-2 bg-blue text-white">Contacto</h1>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <p>Si querés contactarte conmigo, podes enviarme un mensaje a Linkedin o en mi propio correo.
                        </p>
                        <div class="social-links">
                            <a href="https://github.com/JuanLuna21" class="github"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/juan-ignacio-luna-calvo-0aa138207/" class="linkedin"><i
                                    class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

</footer>