<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form #f="ngForm" (ngSubmit)="onRegistro()" novalidatestyle="width: 23rem;">
                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registrarse</h3>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control"
                                placeholder="ingresa tu nombre" [(ngModel)]="nombre" required>
                        </div>

                        <div class="form-group">
                            <label for="nombreUsuario">Nombre de Usuario</label>
                            <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                                placeholder="ingresa nombre de usuario" [(ngModel)]="nombreUsuario" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="text" name="email" id="email" class="form-control"
                                placeholder="Correo Electrónico" [(ngModel)]="email" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control"
                                placeholder="ingresa una contraseña" [(ngModel)]="password" required>
                        </div>

                        <button [disabled]="!f.valid" class="btn btn-info btn-lg btn-block"> Crear Cuenta</button>
                        <button class="btn btn-info btn-lg btn-block">Atras</button>
                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
                    alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>