<div class="row">
    <h1>Education and degrees</h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Tudai programming career (University Technician in Development of Computer Applications), at the National
            University of
            the Center of the Province of Buenos Aires
        </a>
        <h3>2021-2022</h3>
        <a href="#" class="list-group-item list-group-item-action active">
            Argentina Programa
        </a>
        <h3>2021-2022</h3>
    </div>
</div>