.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;

}

.item {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    padding: 2rem;
    background: #a1b5cb;
    border: 3px solid #a1b5cb;
    color: #a1b5cb;
    margin: 6px;

}

.button {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.section-title {
    color: white;
}