<div class="colg lg 2">
    <button type="button" class="btn btn-dark" routerLink="/nuevoHys" *ngIf="isAdmin">
        Nueva Tecnologia
    </button>
</div>


<div class="section-title">
    <h1 class="p-3 mb-2 bg-blue text-white">Habilidades</h1>
</div>

<div class="container">
    <div *ngFor="let s of hysM">
        <div>
            <h3>{{s.nombreH}}</h3>
            <div class="item">
                <circle-progress [percent]="s.porcentajeH" [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300">
                </circle-progress>
            </div>
        </div>

        <div class=" button">
            <button class="btn btn-info" *ngIf="isAdmin" (click)="delete(s.id)">BORRAR</button>

            <button class="btn btn-info" *ngIf="isAdmin" routerLink="editHys/{{s.id}}">Editar</button>
        </div>
    </div>
</div>