<div class="row">
    <h1>Projects</h1>

    <div class="container">

        <div class="col-sm-12 col-md-7 col-lg-7">
            <h1>Page web</h1>
            <p>
                Primer proyecto
            </p>
        </div>
        <div>
            <img class="col-sm-12 col-md-7 col-lg-7" src="" alt="project-web">
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7">

            <h1>Portafolio</h1>
            <p>
                proyecto de portafolio
            </p>
            <div>
                <img src="" alt="Portafolio">
            </div>
        </div>
    </div>
</div>