<div class="row">
    <h1>Educacion</h1>
    <div class="colg lg 2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaeducacion" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>

    <div class="col-lg-11">

        <div *ngFor="let e of educacion">

            <p>{{e.nombreE}}</p>
            <p>{{e.descripcionE}}</p>

            <button *ngIf="isAdmin" class="btn btn-danger" (click)="delete(e.id)">
                <i class="bi bi-trash-fill"></i> BORRAR</button>

            <button *ngIf="isAdmin" class="btn btn-danger" routerLink="/editeducacion/{{e.id}}">
                <i class="bi bi-trash-fill"></i> Editar</button>
        </div>

    </div>

</div>