<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <img src="../../../assets/img/LogoAP.jpg" alt="LogoAp" class="logoAp">

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Sobre Mi</a></li>
                <li><a class="nav-link scrollto" href="#Proyecto">Proyectos</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
                <li><a class="nav-link scrollto" *ngIf="!isLogged" routerLink="/login">Ingresar</a></li>
                <li><a class="nav-link scrollto" (click)="onLogout()">Cerrar Sesion</a></li>
            </ul>
        </nav>

    </div>
</header>