<div class="container">

    <div class="row" *ngIf="proyectoM">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre de Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" [(ngModel)]="proyectoM.nombreP" required
                        name="nombreP">
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionP" [(ngModel)]="proyectoM.descripcionP"
                        required name="descripcionP">
                </div>
                <div class="form-group">
                    <label for="imgP">Imagen</label>
                    <input type="file" accept="image/*" alife-file-to-base64 (onFileChanged)="obtener($event)"
                        class="form-control" id="imgP" [(ngModel)]="proyectoM.imgP" required name="imgP">
                </div>
                <button class="btn btn-primary" click="onUpdate()">Editar Proyecto</button>
            </form>
        </div>
    </div>

</div>