<div class="row">
    <h1>Experiencia Laboral.</h1>
    <div class="colg lg 2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <div class="col-lg-11">
        <div *ngFor="let Experiencia of expe">
            <p>{{Experiencia.nombreE}}</p>
            <p>{{Experiencia.descripcionE}}</p>
            <button *ngIf="isAdmin" routerLink="/editexp/{{Experiencia.id}}">Editar</button>
            <button *ngIf="isAdmin" (click)="delete(Experiencia.id)">Borrar</button>
        </div>
    </div>